colorama==0.4.6
pexpect==4.9.0
pycryptodome==3.21.0
PyInstaller==6.11.1
Pillow==11.0.0
python-dateutil==2.9.0.post0
requests==2.32.3
pyobjc-core==10.3.1
pyobjc-framework-Cocoa==10.3.1
pyobjc-framework-Quartz==10.3.1
pyobjc-framework-CoreLocation==10.3.1
pyobjc-framework-SystemConfiguration==10.3.1